<div class="row NHOM_KH">
    <div class="col-6">
    </div>
    <div class="col-4">
        <div class="row">
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'TONG_KHOI' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDNL/All/<%=formatSelectedMonth %>">ALL</a>
            </div>
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'PVN' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDNL/PVN/<%=formatSelectedMonth %>">PVN</a>
            </div>
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'Non-PVN' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDNL/Non-PVN/<%=formatSelectedMonth %>">Non-PVN</a>
            </div>
        </div>
    </div>
</div>