<div class="row NHOM_KH">
    <div class="col-6">
    </div>
    <div class="col-3">
        <div class="row">
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'TONG_KHOI' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDN/All/<%=formatSelectedMonth %>">ALL</a>
            </div>
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'Core' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDN/Core/<%=formatSelectedMonth %>">Core</a>
            </div>
            <div style="margin-right: 40px;">
                <a class=" <%= NHOM_KH == 'Upper' ? 'active_NHOM_KH' : '' %>" href="/KPIs/KHDN/Upper/<%=formatSelectedMonth %>">Upper</a>
            </div>
        </div>
    </div>
</div>