<form action="/DScongviec/quanly/<%= staffQL.CIF %>" method="GET">
    <div class="row inforTTNSQL" >
        <div class="col-1">
            <p><%= staffQL.CIF %></p>
        </div>
        <div class="col-3">
            <p><%= staffQL.Name %></p>
        </div>
        <div class="col-3">
            <p><i class="fa-solid fa-inbox"></i> <%= staffQL.Email %></p>
        </div>
        <div class="col-2">
            <p><i class="fa-solid fa-mobile-screen"></i> <%= staffQL.Mobile %></p>
        </div>
        <div class="col-2">
            <div>
                <div>
                    <% for(var i = 0; i < listJob.length; ++i) {%>
                        <% if(listJob[i].CIF == staffQL.CIF) { %>
                            <p>Chưa thực hiện: <%= listJob[i].chuathuchien %> </p>
                        <% }} %>
                </div>
                <div>
                    <% for(var i = 0; i < listJob.length; ++i) {%>
                        <% if(listJob[i].CIF == staffQL.CIF) { %>
                            <p>Đang thực hiện: <%= listJob[i].thuchien %> </p>
                        <% }} %>
                </div>
                <div>
                    <% for(var i = 0; i < listJob.length; ++i) {%>
                        <% if(listJob[i].CIF == staffQL.CIF) { %>
                            <p>Hoàn thành: <%= listJob[i].hoanthanh %> </p>
                        <% }} %>
                </div>
            </div>
        </div>
        <div class="col-1">
                <button type="submit">Kiểm tra</button>
        </div>
    </div>
</form>