<div class="row TKTT">
    <div class="col-4">
        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <p style="padding: 0; font-weight: 400; font-style: italic;">SL TKTT mở mới</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT"><%= (getDataTKTT) ? getDataTKTT.SLTKTT_dtd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT"><%= (getDataTKTT) ? getDataTKTT.SLTKTT_mtd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTT"><%= (getDataTKTT) ? getDataTKTT.SLTKTT_ytd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
        <div class="row">
            <div class="col-12" style="margin-bottom: 10px;">
                <p style="padding: 0; font-weight: 400; font-style: italic;">SL TKTT eKYC mở mới</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC"><%= (getDataTKTT) ? getDataTKTT.SLTK_EKYC_dtd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC"><%= (getDataTKTT) ? getDataTKTT.SLTK_EKYC_mtd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="SLTKTTEKYC"><%= (getDataTKTT) ? getDataTKTT.SLTK_EKYC_ytd.toLocaleString("en-US") : '' %></p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-12">
               <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding: 0; font-size: 14px; font-style: italic;">
                <p style="padding:0 ; line-height: 52px;" class="note">Ngày</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding: 0; font-size: 14px; font-style: italic;">
                <p style="padding:0 ; line-height: 52px;" class="note">LK tháng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding: 0; font-size: 14px; font-style: italic;">
                <p style="padding:0 ; line-height: 52px;" class="note">LK năm</p>
            </div>
        </div>
    </div>
</div>