
<figure class="highcharts-figure">
  <div id="chart_2"></div>
  <p class="highcharts-description">
  </p>
</figure>

<script>
  
  var input_month = <%- inputMonth %>
  var data_LS_CV_BQ_TT = <%= data_LS_CV_BQ_TT %>
  var data_LS_CV_BQ_TT_KHCN = <%= data_LS_CV_BQ_TT_KHCN %> 
  var data_LS_CV_BQ_TT_KHDN  = <%= data_LS_CV_BQ_TT_KHDN %>
  var data_LS_CV_BQ_TT_KHDNL  = <%= data_LS_CV_BQ_TT_KHDNL %>

  
</script>