
<div class="title_daily_table_2" style="margin-bottom: 20px;" >
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <%- include('daily_table_4_1.ejs') %>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%- include('daily_table_4_3.ejs') %>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%- include('daily_table_4_4.ejs') %>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <%- include('daily_table_4_2.ejs') %>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%- include('daily_table_4_5.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>