<table class="title_daily_table_2_1">
    <tr>
        <td style="width: 50%; font-weight: bold; background-color: rgb(106, 234, 138); " colspan="5">Biến động tăng</td>
        <td style="width: 50%; font-weight: bold; background-color: rgb(233,0,0); color: #fff" colspan="5">Biến động giảm</td>

    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">CKH-KHCN</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHCN_DESC.length>0) ? TOP_CKH_KHCN_DESC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_DESC.length>0) ? Math.round(TOP_CKH_KHCN_DESC[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHCN_ASC.length>0) ? TOP_CKH_KHCN_ASC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_ASC.length>0) ? Math.round(TOP_CKH_KHCN_ASC[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHCN_DESC.length>1) ? TOP_CKH_KHCN_DESC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_DESC.length>1) ? Math.round(TOP_CKH_KHCN_DESC[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHCN_ASC.length>1) ? TOP_CKH_KHCN_ASC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_ASC.length>1) ? Math.round(TOP_CKH_KHCN_ASC[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHCN_DESC.length>2) ? TOP_CKH_KHCN_DESC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_DESC.length>2) ? Math.round(TOP_CKH_KHCN_DESC[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHCN_ASC.length>2) ? TOP_CKH_KHCN_ASC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHCN_ASC.length>2) ? Math.round(TOP_CKH_KHCN_ASC[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">KKH-KHCN</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHCN_DESC.length>0) ? TOP_KKH_KHCN_DESC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_DESC.length>0) ? Math.round(TOP_KKH_KHCN_DESC[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHCN_ASC.length>0) ? TOP_KKH_KHCN_ASC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_ASC.length>0) ? Math.round(TOP_KKH_KHCN_ASC[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHCN_DESC.length>1) ? TOP_KKH_KHCN_DESC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_DESC.length>1) ? Math.round(TOP_KKH_KHCN_DESC[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHCN_ASC.length>1) ? TOP_KKH_KHCN_ASC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_ASC.length>1) ? Math.round(TOP_KKH_KHCN_ASC[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHCN_DESC.length>2) ? TOP_KKH_KHCN_DESC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_DESC.length>2) ? Math.round(TOP_KKH_KHCN_DESC[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHCN_ASC.length>2) ? TOP_KKH_KHCN_ASC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHCN_ASC.length>2) ? Math.round(TOP_KKH_KHCN_ASC[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">CKH-TCKT</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHDN_DESC.length>0) ? TOP_CKH_KHDN_DESC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_DESC.length>0) ? Math.round(TOP_CKH_KHDN_DESC[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHDN_ASC.length>0) ? TOP_CKH_KHDN_ASC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_ASC.length>0) ? Math.round(TOP_CKH_KHDN_ASC[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHDN_DESC.length>1) ? TOP_CKH_KHDN_DESC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_DESC.length>1) ? Math.round(TOP_CKH_KHDN_DESC[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHDN_ASC.length>1) ? TOP_CKH_KHDN_ASC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_ASC.length>1) ? Math.round(TOP_CKH_KHDN_ASC[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CKH_KHDN_DESC.length>2) ? TOP_CKH_KHDN_DESC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_DESC.length>2) ? Math.round(TOP_CKH_KHDN_DESC[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CKH_KHDN_ASC.length>2) ? TOP_CKH_KHDN_ASC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_CKH_KHDN_ASC.length>2) ? Math.round(TOP_CKH_KHDN_ASC[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">KKH-TCKT</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHDN_DESC.length>0) ? TOP_KKH_KHDN_DESC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_DESC.length>0) ? Math.round(TOP_KKH_KHDN_DESC[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHDN_ASC.length>0) ? TOP_KKH_KHDN_ASC[0].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_ASC.length>0) ? Math.round(TOP_KKH_KHDN_ASC[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHDN_DESC.length>1) ? TOP_KKH_KHDN_DESC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_DESC.length>1) ? Math.round(TOP_KKH_KHDN_DESC[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHDN_ASC.length>1) ? TOP_KKH_KHDN_ASC[1].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_ASC.length>1) ? Math.round(TOP_KKH_KHDN_ASC[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_KKH_KHDN_DESC.length>2) ? TOP_KKH_KHDN_DESC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_DESC.length>2) ? Math.round(TOP_KKH_KHDN_DESC[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_KKH_KHDN_ASC.length>2) ? TOP_KKH_KHDN_ASC[2].TEN_KH : '' %></td>
        <td colspan="2"><%= (TOP_KKH_KHDN_ASC.length>2) ? Math.round(TOP_KKH_KHDN_ASC[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    
    
    
</table>