<table class="title_daily_table_2_1">
        <tr>
            <th style=" font-weight: bold; background-color: rgb(241, 222, 159);" rowspan="2" colspan="2">Khối</th>
            <th style=" font-weight: bold" colspan="4">Quy mô quy đổi</th>
            <th style=" font-weight: bold" colspan="4">Lãi suất danh nghĩa</th>
        </tr>
        <tr>
            <th ><%= date %></th>
            <th >DTD</th>
            <th >MTD</th>
            <th >YTD</th>
            <th ><%= date %></th>
            <th >DTD</th>
            <th >MTD</th>
            <th >YTD</th>
        </tr>
        <tr style="background-color: rgb(25, 104, 25);color: #fff;font-weight: bold;">
            <td colspan="2">Toàn hàng</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
            <td colspan="2" style="text-align: left;">KKH</td>
            <td class="<%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_TOANHANG_TOANHANG[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_TOANHANG_TOANHANG[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_TOANHANG_TOANHANG[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_TOANHANG_TOANHANG[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_TOANHANG_TOANHANG[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_TOANHANG_TOANHANG[0].Ytd*100).toFixed(2)} %` %></td>

        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHCN</td>
            <td class="<%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHCN_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHCN_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHCN_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHCN_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHCN_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHCN_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHCN_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHCN_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHCN_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHCN_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHDN</td>
            <td class="<%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDN_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDN_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">Core</td>
            <td class="<%= (QUY_MO_KKH_KHDN_Core[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Core[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDN_Core[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Core[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Core[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Core[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Core[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Core[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Core[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Core[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Core[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Core[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Core[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Core[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Core[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Core[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Core[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Core[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Core[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Core[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Core[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Core[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Core[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Core[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">Upper</td>
            <td class="<%= (QUY_MO_KKH_KHDN_Upper[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Upper[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDN_Upper[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Upper[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Upper[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Upper[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Upper[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Upper[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Upper[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDN_Upper[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDN_Upper[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDN_Upper[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Upper[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Upper[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Upper[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Upper[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Upper[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Upper[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Upper[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Upper[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Upper[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDN_Upper[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDN_Upper[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDN_Upper[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHDNL</td>
            <td class="<%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDNL_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">PVN</td>
            <td class="<%= (QUY_MO_KKH_KHDNL_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_PVN[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDNL_PVN[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_PVN[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_PVN[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_PVN[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_PVN[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_PVN[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_PVN[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_PVN[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_PVN[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_PVN[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_PVN[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_PVN[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_PVN[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_PVN[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_PVN[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">Non-PVN</td>
            <td class="<%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Amt=='') ? '' : Math.round(QUY_MO_KKH_KHDNL_Non_PVN[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Dtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_Non_PVN[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Mtd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_Non_PVN[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_KKH_KHDNL_Non_PVN[0].Ytd == '') ? '' :Math.round(QUY_MO_KKH_KHDNL_Non_PVN[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Amt == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_Non_PVN[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Dtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_Non_PVN[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Mtd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_Non_PVN[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_KKH_KHDNL_Non_PVN[0].Ytd == '') ? '' : `${(LAI_SUAT_KKH_KHDNL_Non_PVN[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(129, 205, 243); font-weight: 800;">
            <td colspan="2" style="text-align: left;">CKH</td>
            <td class="<%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_TOANHANG_TOANHANG[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_TOANHANG_TOANHANG[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_TOANHANG_TOANHANG[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_TOANHANG_TOANHANG[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_TOANHANG_TOANHANG[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_TOANHANG_TOANHANG[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHCN</td>
            <td class="<%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHCN_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHCN_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2"> <6M </td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHCN_6M[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2"> 6-9M </td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M9M[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M9M[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHCN_6M9M[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M9M[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M9M[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M9M[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M9M[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M9M[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M9M[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_6M9M[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_6M9M[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_6M9M[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M9M[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M9M[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M9M[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M9M[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M9M[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M9M[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M9M[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M9M[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M9M[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_6M9M[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_6M9M[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_6M9M[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2"> 9-12M </td>
            <td class="<%= (QUY_MO_CKH_KHCN_9M12M[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_9M12M[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHCN_9M12M[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_9M12M[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_9M12M[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_9M12M[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_9M12M[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_9M12M[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_9M12M[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_9M12M[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_9M12M[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_9M12M[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_9M12M[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_9M12M[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHCN_9M12M[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_9M12M[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_9M12M[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_9M12M[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_9M12M[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_9M12M[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_9M12M[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_9M12M[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_9M12M[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_9M12M[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2"> >=12M </td>
            <td class="<%= (QUY_MO_CKH_KHCN_12M[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_12M[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHCN_12M[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_12M[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_12M[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_12M[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_12M[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_12M[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_12M[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHCN_12M[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHCN_12M[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHCN_12M[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_12M[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_12M[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHCN_12M[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_12M[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_12M[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_12M[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_12M[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_12M[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_12M[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHCN_12M[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHCN_12M[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHCN_12M[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHDN</td>
            <td class="<%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDN_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDN_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">Core</td>
            <td class="<%= (QUY_MO_CKH_KHDN_Core[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Core[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDN_Core[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Core[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Core[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Core[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Core[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Core[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Core[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Core[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Core[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Core[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Core[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Core[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Core[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Core[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Core[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Core[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Core[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Core[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Core[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Core[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Core[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Core[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;"> 
            <td colspan="2">Upper</td>
            <td class="<%= (QUY_MO_CKH_KHDN_Upper[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Upper[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDN_Upper[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Upper[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Upper[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Upper[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Upper[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Upper[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Upper[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDN_Upper[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDN_Upper[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDN_Upper[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Upper[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Upper[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Upper[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Upper[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Upper[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Upper[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Upper[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Upper[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Upper[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDN_Upper[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDN_Upper[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDN_Upper[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
            <td colspan="2">KHDNL</td>
            <td class="<%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDNL_TONGKHOI[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_TONGKHOI[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_TONGKHOI[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_TONGKHOI[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_TONGKHOI[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_TONGKHOI[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">PVN</td>
            <td class="<%= (QUY_MO_CKH_KHDNL_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_PVN[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDNL_PVN[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_PVN[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_PVN[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_PVN[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_PVN[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_PVN[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_PVN[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_PVN[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_PVN[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_PVN[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_PVN[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_PVN[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_PVN[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_PVN[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_PVN[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        <tr style="font-style: italic;">
            <td colspan="2">Non-PVN</td>
            <td class="<%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Amt=='') ? '' : Math.round(QUY_MO_CKH_KHDNL_Non_PVN[0].Amt).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Dtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_Non_PVN[0].Dtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Mtd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_Non_PVN[0].Mtd).toLocaleString("en-US") %></td>
            <td class="<%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_CKH_KHDNL_Non_PVN[0].Ytd == '') ? '' :Math.round(QUY_MO_CKH_KHDNL_Non_PVN[0].Ytd).toLocaleString("en-US") %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Amt == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_Non_PVN[0].Amt*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Dtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_Non_PVN[0].Dtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Mtd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_Non_PVN[0].Mtd*100).toFixed(2)} %` %></td>
            <td class="<%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Ytd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_CKH_KHDNL_Non_PVN[0].Ytd == '') ? '' : `${(LAI_SUAT_CKH_KHDNL_Non_PVN[0].Ytd*100).toFixed(2)} %` %></td>
        </tr>
        
</table>


<!-- <script>
    const No_data = document.getElementsByTagName('td')
    console.log(No_data.length)
    for(let i =0; i < No_data.length; i++){
        // console.log(No_data[i].innerHTML)
        if(No_data[i].innerHTML == NaN) {
            return No_data[i].innerHTML = ""
        }
    }
</script> -->