<table class="title_daily_table_2_1">
    <tr>
        <td style="width: 50%; font-weight: bold; background-color: rgb(106, 234, 138); " colspan="5">Biến động tăng</td>
        <td style="width: 50%; font-weight: bold; background-color: rgb(233,0,0); color: #fff;" colspan="5" >Biến động giảm</td>

    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">Cá nhân</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CANHAN_TANG.length>0) ? TOP_CANHAN_TANG[0].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_TANG.length>0) ? Math.round(TOP_CANHAN_TANG[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CANHAN_GIAM.length>0) ? TOP_CANHAN_GIAM[0].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_GIAM.length>0) ? Math.round(TOP_CANHAN_GIAM[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CANHAN_TANG.length>1) ? TOP_CANHAN_TANG[1].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_TANG.length>1) ? Math.round(TOP_CANHAN_TANG[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CANHAN_GIAM.length>1) ? TOP_CANHAN_GIAM[1].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_GIAM.length>1) ? Math.round(TOP_CANHAN_GIAM[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_CANHAN_TANG.length>2) ? TOP_CANHAN_TANG[2].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_TANG.length>2) ? Math.round(TOP_CANHAN_TANG[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_CANHAN_GIAM.length>2) ? TOP_CANHAN_GIAM[2].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_CANHAN_GIAM.length>2) ? Math.round(TOP_CANHAN_GIAM[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">Tổ chức, doanh nghiệp</td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_TANG.length>0) ? TOP_DOANHNGHIEP_TANG[0].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_TANG.length>0) ? Math.round(TOP_DOANHNGHIEP_TANG[0].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_GIAM.length>0) ? TOP_DOANHNGHIEP_GIAM[0].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_GIAM.length>0) ? Math.round(TOP_DOANHNGHIEP_GIAM[0].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_TANG.length>1) ? TOP_DOANHNGHIEP_TANG[1].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_TANG.length>1) ? Math.round(TOP_DOANHNGHIEP_TANG[1].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_GIAM.length>1) ? TOP_DOANHNGHIEP_GIAM[1].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_GIAM.length>1) ? Math.round(TOP_DOANHNGHIEP_GIAM[1].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_TANG.length>2) ? TOP_DOANHNGHIEP_TANG[2].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_TANG.length>2) ? Math.round(TOP_DOANHNGHIEP_TANG[2].DIFF).toLocaleString("en-US") : '' %></td>
        <td colspan="3"><%= (TOP_DOANHNGHIEP_GIAM.length>2) ? TOP_DOANHNGHIEP_GIAM[2].FULL_NAME : '' %></td>
        <td colspan="2"><%= (TOP_DOANHNGHIEP_GIAM.length>2) ? Math.round(TOP_DOANHNGHIEP_GIAM[2].DIFF).toLocaleString("en-US") : '' %></td>
    </tr>
    <tr>
        <td style="width: 100%; font-weight: bold; background-color: rgb(241, 222, 159); " colspan="10">Cầm cố STK, Trái phiếu, chứng khoán</td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3"></td><td colspan="2"></td><td colspan="3"></td><td colspan="2"></td>
    </tr>
</table>