<table class="title_daily_table_2_1">
    <tr>
        <th colspan="2" style=" font-weight: bold; background-color: rgb(241, 222, 159);" rowspan="2">Khối</th>
        <th style=" font-weight: bold" colspan="4">Quy mô quy đổi</th>
        <th style=" font-weight: bold" colspan="3">LSBQ ngày</th>
        <th colspan="1" style=" font-weight: bold; background-color: rgb(106, 234, 138);" rowspan="2">LS điều hành</th>
    </tr>
    <tr>
        <th ><%= date %></th>
        <th >DTD</th>
        <th >MTD</th>
        <th >YTD</th>
        <th ><%= date %></th>
        <th >DTD</th>
        <th >MTD</th>
    </tr>
    <tr style="background-color: rgb(25, 104, 25);color: #fff;font-weight: bold;">
        <td colspan="2">Toàn hàng</td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt >0) ? 'white' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt + data_BAN_NO[0].Amt + ((data_TRAI_PHIEU[0].Amt)? data_TRAI_PHIEU[0].Amt: 0)).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd >0) ? 'white' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd + data_TRAI_PHIEU[0].Dtd +data_BAN_NO[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd >0) ? 'white' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd + data_TRAI_PHIEU[0].Mtd +data_BAN_NO[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Ytd >0) ? 'white' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Ytd + data_TRAI_PHIEU[0].Ytd +data_BAN_NO[0].Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt >0) ? 'white' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd >0) ? 'white' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd >0) ? 'white' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TOANHANG_TOANHANG.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
        <td colspan="2"style="text-align: left;">Ngắn hạn</td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_NH_TOANHANG.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_NH_TOANHANG.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHCN</td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHCN_NH_TONGKHOI.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_NH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHDN</td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_TONGKHOI.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Core</td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Core.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Core.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Core.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Core.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Core.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Core.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Upper</td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Upper.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Upper.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Upper.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDN_NH_Upper.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDN_NH_Upper.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_NH_Upper.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHDNL</td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_KHDNL_NH_TONGKHOI.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_NH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: 800;">
        <td colspan="2" style="text-align: left;">Trung/dài hạn</td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt + data_TRAI_PHIEU[0].Amt +data_BAN_NO[0].Amt).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd + data_TRAI_PHIEU[0].Dtd +data_BAN_NO[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd + data_TRAI_PHIEU[0].Mtd +data_BAN_NO[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Ytd >0) ? 'green' : 'red' %>"><%= (QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Ytd=='') ? '' : Math.round(QUY_MO_TIN_DUNG_TOANHANG_TDH_TOANHANG.Ytd + data_TRAI_PHIEU[0].Ytd +data_BAN_NO[0].Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_TOANHANG_TDH_TOANHANG.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHCN</td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Ytd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHCN_TDH_TONGKHOI.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHCN_TDH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHDN</td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt + data_TRAI_PHIEU[0].Amt +data_BAN_NO[0].Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd + data_TRAI_PHIEU[0].Dtd +data_BAN_NO[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd + data_TRAI_PHIEU[0].Mtd +data_BAN_NO[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Ytd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_TONGKHOI.Ytd + data_TRAI_PHIEU[0].Ytd +data_BAN_NO[0].Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Core</td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Amt >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Amt=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Dtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Dtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Mtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Mtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Ytd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Ytd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Core.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Core.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Upper</td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Amt >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Amt=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Dtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Dtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Mtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Mtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Ytd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Ytd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDN_TDH_Upper.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDN_TDH_Upper.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Trái phiếu</td>
        <td class="<%= ( data_TRAI_PHIEU[0].Amt >0) ? 'green' : 'red' %>"><%= ( data_TRAI_PHIEU[0].Amt=='') ? '' : Math.round( data_TRAI_PHIEU[0].Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( data_TRAI_PHIEU[0].Dtd >0) ? 'green' : 'red' %>"><%= ( data_TRAI_PHIEU[0].Dtd=='') ? '' : Math.round( data_TRAI_PHIEU[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( data_TRAI_PHIEU[0].Mtd >0) ? 'green' : 'red' %>"><%= ( data_TRAI_PHIEU[0].Mtd=='') ? '' : Math.round( data_TRAI_PHIEU[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( data_TRAI_PHIEU[0].Ytd >0) ? 'green' : 'red' %>"><%= ( data_TRAI_PHIEU[0].Ytd=='') ? '' : Math.round( data_TRAI_PHIEU[0].Ytd).toLocaleString("en-US") %></td>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr style="font-style: italic;">
        <td colspan="2">Bán nợ</td>
        <td class="<%= ( data_BAN_NO[0].Amt >0) ? 'green' : 'red' %>"><%= ( data_BAN_NO[0].Amt=='') ? '' : Math.round( data_BAN_NO[0].Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( data_BAN_NO[0].Dtd >0) ? 'green' : 'red' %>"><%= ( data_BAN_NO[0].Dtd=='') ? '' : Math.round( data_BAN_NO[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( data_BAN_NO[0].Mtd >0) ? 'green' : 'red' %>"><%= ( data_BAN_NO[0].Mtd=='') ? '' : Math.round( data_BAN_NO[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( data_BAN_NO[0].Ytd >0) ? 'green' : 'red' %>"><%= ( data_BAN_NO[0].Ytd=='') ? '' : Math.round( data_BAN_NO[0].Ytd).toLocaleString("en-US") %></td>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr style="background-color: rgb(241, 222, 159);font-weight: bold;">
        <td colspan="2">KHDNL</td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Ytd >0) ? 'green' : 'red' %>"><%= ( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Ytd=='') ? '' : Math.round( QUY_MO_TIN_DUNG_KHDNL_TDH_TONGKHOI.Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd >0) ? 'green' : 'red' %>"><%= (LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd == '') ? '' : `${(LAI_SUAT_TIN_DUNG_KHDNL_TDH_TONGKHOI.Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
        <td colspan="2" style="text-align: left;">Cầm cố STK,TP,CK</td>
        <td class="<%= ( CAM_CO_STK_TP[0].Amt >0) ? 'green' : 'red' %>"><%= ( CAM_CO_STK_TP[0].Amt=='') ? '' : Math.round( CAM_CO_STK_TP[0].Amt).toLocaleString("en-US") %></td>
        <td class="<%= ( CAM_CO_STK_TP[0].Dtd >0) ? 'green' : 'red' %>"><%= ( CAM_CO_STK_TP[0].Dtd=='') ? '' : Math.round( CAM_CO_STK_TP[0].Dtd).toLocaleString("en-US") %></td>
        <td class="<%= ( CAM_CO_STK_TP[0].Mtd >0) ? 'green' : 'red' %>"><%= ( CAM_CO_STK_TP[0].Mtd=='') ? '' : Math.round( CAM_CO_STK_TP[0].Mtd).toLocaleString("en-US") %></td>
        <td class="<%= ( CAM_CO_STK_TP[0].Ytd >0) ? 'green' : 'red' %>"><%= ( CAM_CO_STK_TP[0].Ytd=='') ? '' : Math.round( CAM_CO_STK_TP[0].Ytd).toLocaleString("en-US") %></td>
        <td class="<%= (LS_CAM_CO_STK_TP[0].Amt >0) ? 'green' : 'red' %>"><%= (LS_CAM_CO_STK_TP[0].Amt == '') ? '' : `${(LS_CAM_CO_STK_TP[0].Amt*100).toFixed(2)} %` %></td>
        <td class="<%= (LS_CAM_CO_STK_TP[0].Dtd >0) ? 'green' : 'red' %>"><%= (LS_CAM_CO_STK_TP[0].Dtd == '') ? '' : `${(LS_CAM_CO_STK_TP[0].Dtd*100).toFixed(2)} %` %></td>
        <td class="<%= (LS_CAM_CO_STK_TP[0].Mtd >0) ? 'green' : 'red' %>"><%= (LS_CAM_CO_STK_TP[0].Mtd == '') ? '' : `${(LS_CAM_CO_STK_TP[0].Mtd*100).toFixed(2)} %` %></td>
        <td></td>
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
        <td colspan="2" style="text-align: left;">GN đặc thù</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    
    
</table>