<div class="row staff_on_list">
    <div class="col-1">
        <p><%= staffinfo.CIF %></p>
    </div>
    <div class="col-3">
        <p><%= staffinfo.Name %></p>
    </div>
    <div class="col-3">
        <p><i class="fa-solid fa-inbox"></i>  <%= staffinfo.Email %></p>
    </div>
    <div class="col-2">
        <p><i class="fa-solid fa-mobile-screen"></i>  <%= staffinfo.Mobile %></p>
    </div>
    <div class="col-2">
        <p><%= staffinfo.Team %></p>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-link">Chi tiết</button>
    </div>

</div>
