

<div class=" menu_left">
    <div class="row">

        <div class="col-12"><h4>DAILY REPORT</h4></div>
    </div>
        <div class="col-12">
           <a href="<%=`/daily/${date}`%>"><i class="fa-solid fa-table-list"></i> Bảng tổng hợp</a>
        </div>
        <div class="col-12" id="menu_left_nav">
           <a href="<%=`/daily/dashboard/hdv/${date}/TOAN_HANG`%>"><i class="fa-solid fa-chart-simple"></i> Dashboard HĐV</a>
            <!-- <ul class="subnav_menu_left">
                <ul class="subnav_menu_left">
                <li><a href="<%=`/daily/dashboard/hdv/${date}/KHCN`%>"><i class="fa-solid fa-user-group"></i> KH Cá nhân</a></li>
                <li><a href="<%=`/daily/dashboard/hdv/${date}/KHDN`%>"><i class="fa-solid fa-building"></i> KH Doanh nghiệp</a></li>
                <li><a href="<%=`/daily/dashboard/hdv/${date}/KHCNL`%>"><i class="fa-solid fa-people-group"></i> KH Doanh nghiệp lớn</a></li>
                <li><a href="<%=`/daily/dashboard/hdv/${date}/TOAN_HANG`%>"><i class="fa-solid fa-globe"></i> Toàn hàng </a></li>
                </ul>
            </ul> -->
        </div>
        <div class="col-12" id="menu_left_nav">
            <a href="<%=`/daily/dashboard/tindung/${date}/TOAN_HANG`%>"><i class="fa-solid fa-chart-simple"></i> Dashboard Tín Dụng</a>
            <!-- <ul class="subnav_menu_left">
                <ul class="subnav_menu_left">
                <li><a href="<%=`/daily/dashboard/tindung/${date}/KHCN`%>"><i class="fa-solid fa-user-group"></i> KH Cá nhân</a></li>
                <li><a href="<%=`/daily/dashboard/tindung/${date}/KHDN`%>"><i class="fa-solid fa-building"></i> KH Doanh nghiệp</a></li>
                <li><a href="<%=`/daily/dashboard/tindung/${date}/KHCNL`%>"><i class="fa-solid fa-people-group"></i> KH Doanh nghiệp lớn</a></li>
                <li><a href="<%=`/daily/dashboard/tindung/${date}/TOAN_HANG`%>"><i class="fa-solid fa-globe"></i> Toàn hàng </a></li>
                </ul>
            </ul> -->
         </div>
</div>

