<div class="div">
    <div class="row frame_profile">
        <div class="col-4 ">
            <div class="avatar">
                <img src="" alt="Avatar">
            </div>
        </div>
        <div class="col-8">
            <div class="row infor_Detail_Row">
                <div class="col-8 staffname">
                    <p><%= staff.Name %></p>
                </div>
                <div class="col-4 staffcif">
                    <p><%= staff.CIF %></p>
                </div>
            </div>
            <div class="row infor_Detail_Row">
                <div class="col-4 itemInfo">
                    <p>Vị trí:</p>
                </div>
                <div class="col-8 itemContent">
                    <p><%= staff.Name %></p>
                </div>
            </div>
            <div class="row infor_Detail_Row">
                <div class="col-4 itemInfo">
                    <p>E-mail:</p>
                </div>
                <div class="col-8 itemContent">
                    <p><%= staff.Email %></p>
                </div>
            </div>
            <div class="row infor_Detail_Row">
                <div class="col-4 itemInfo">
                    <p>Mobile:</p>
                </div>
                <div class="col-8 itemContent">
                    <p><%= staff.Mobile %></p>
                </div>
            </div>
            <div class="row infor_Detail_Row">
                <div class="col-4 itemInfo">
                    <p>Phòng:</p>
                </div>
                <div class="col-8 itemContent">
                    <p><%= staff.Team %></p>
                </div>
            </div>
            <div class="row infor_Detail_Row">
                <div class="col-9 itemInfo"></div>
                <div class="col-3 itemInfo">
                    <a href="">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>