<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/DSCV_title.css">
<link rel="stylesheet" href="/css/DSCV_thongke.css">
<link rel="stylesheet" href="/css/DSCV_ND.css">
<link rel="stylesheet" href="/css/giao_viec.css">
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script>dayjs().format()</script>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container homepage">
        <div class="row">
            <%- include('includes/QUAN_LY_DSCV_selectMonth') %>
        </div>
        <%- include('includes/DSCV_Thongke.ejs') %>
        <%- include('includes/DSCV_title.ejs') %>
        <% for(let job of listjob) { %>
            <%- include('includes/QUAN_LY_DSCV_ND.ejs',{job:job}) %>
        <% } %>
        <div style="display: flex; justify-content: flex-end; margin-top: 10px; margin-right: 20px;">
            <button style="border: 1px solid var(--color-background);
            color: var(--color-bl);
            background: var(--color-background);
            border-radius: 10px;
            padding: 2px 10px;
            font-weight: 500;"
            onclick="openFormGiaoviec()"
            >Giao việc</button>
        </div>
    </div>
    <div id="myDIV">
        <%- include('includes/QUAN_LY_DSCV_GIAO_VIEC.ejs') %>
    </div>


    
    <script type="text/javascript">
    function openFormGiaoviec() {
        var x = document.getElementById('myDIV');
        if (x.style.display === 'none') {
            x.style.display = 'flex';
        } else {
            x.style.display = 'none';
        }
    }
    function closeFormGiaoviec() {
        var x = document.getElementById('myDIV');
        if (x.style.display === 'flex') {
            x.style.display = 'none';
        } else {
            x.style.display = 'flex';
        }
    }
    </script>
    
    </script>

    <script>
        var makeDate = function(date){
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        return day + "-" + month + "-" + year ;
        }
    

        const dealineJobElement = document.getElementsByClassName("deadlineJob")        
        for(let i = 0 ; i < dealineJobElement.length; i++) {
            const datevalue = new Date(dealineJobElement[i].innerHTML.toString())
            dealineJobElement[i].innerHTML = makeDate(datevalue)
        }

        const timelineJobElement = document.getElementsByClassName("timelineJob") 
        console.log((timelineJobElement[0].innerHTML)? 'ok':'nook')       
        for(let i = 0 ; i < timelineJobElement.length; i++) {
            
            if(timelineJobElement[i].innerHTML){
                return timelineJobElement[i].innerHTML = makeDate(new Date(timelineJobElement[i].innerHTML.toString()))
            } else {
                return timelineJobElement[i].innerHTML = "__"
            }
            
        }

    </script>

<%- include('includes/end.ejs') %>