<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/DSNS_title.css">
<link rel="stylesheet" href="/css/DSNS_ND.css">
<link rel="stylesheet" href="/css/Chart_Monthly/QM_TD_BQ.css">
<link rel="stylesheet" href="/css/Chart_Monthly/LS_CV_BQ.css">
<link rel="stylesheet" href="/css/Chart_Monthly/menu_left.css">
<link rel="stylesheet" href="/css/select_time.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container-fluid homepage">
        <div class="row">
        <div class="col-lg-2" style="padding: 0;"><%- include('includes/Monthly/menu_left.ejs') %></div>
        <div class="col-lg-10">
            <div class="row">
                <%- include('includes/Monthly/select_time.ejs') %>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <%- include('includes/Monthly/TD/QM_TD_BINHQUAN_Monthly.ejs')%>
                </div>
                <div class="col-lg-6">
                    <%- include('includes/Monthly/TD/LS_CV_TT_BINHQUAN_Monthly.ejs')%>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <script  src="/Chart_script/QM_TD_BINHQUAN_Monthly.js"></script>
    <script  src="/Chart_script/LS_CV_BINHQUAN_TT_Monthly.js"></script>
<%- include('includes/end.ejs') %>















