<table class="title_daily_table_2_1" style="margin-top: 24px;">
    <tr style="background-color: #0772ba; color: #fff;font-weight: bold;">
        <td colspan="9">Số dư HĐV-Phát sinh theo sản phẩm-KHCN</td>
    </tr>

    <tr>
        <th colspan="2" rowspan="3" style=" font-weight: bold; background-color: rgb(241, 222, 159);" rowspan="2">Sản phẩm</th>
        <th style=" font-weight: bold" colspan="4">Phát sinh</th>
        <th style=" font-weight: bold" colspan="3">Phát sinh (+)</th>
    </tr>
    <tr>
        <th rowspan="2" style="font-weight: 500;" >Kỳ hạn</th>
        <th rowspan="2" style="font-weight: 500;" >số dư PS</th>
        <th style="font-weight: 500;" colspan="2">LSBQ ngày</th>
        <th rowspan="2" style="font-weight: 500;" >Kỳ hạn</th>
        <th rowspan="2" style="font-weight: 500;" >số dư PS</th>
        <th style="font-weight: 500;" rowspan="2">BĐ(+) BQ ngày</th>
    </tr>
    <tr>
        <th>BQ</th>
        <th>MAX</th>
       
    </tr>

    <tr style="background-color: rgb(25, 104, 25);color: #fff;font-weight: bold;">
        <td colspan="2">Toàn hàng</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TOANHANG.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TOANHANG.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TOANHANG.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TOANHANG.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TOANHANG.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TOANHANG.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TOANHANG.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TOANHANG.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TOANHANG.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TOANHANG.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr style="background-color: rgb(106, 234, 138); font-weight: bold;">
        <td colspan="2">KHCN</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHCN.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHCN.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHCN.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHCN.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHCN.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHCN.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHCN.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHCN.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHCN.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHCN.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
        <td colspan="2">Cá nhân</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_CANHAN.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_CANHAN.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_CANHAN.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_CANHAN.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_CANHAN.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_CANHAN.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_CANHAN.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_CANHAN.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_CANHAN.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_CANHAN.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="4" style="font-weight:bold;">Tiền gửi bậc thang + Đại chúng</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_6M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_612M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> >12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat_max*100).toFixed(2)} %` %></td>
        
        <td style="font-weight: bold;"> >12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGBT_TGDC_12M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>    
    </tr>
    <tr>
        <td colspan="2" rowspan="4" style="font-weight:bold;">TG trả lãi trước định kỳ</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_006M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_006M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_006M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_006M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_006M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> 13M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_013M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_013M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 13M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_013M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_013M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_013M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> 24M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_024M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_024M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 24M  </td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_024M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_TGTLTDK_024M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_TGTLTDK_024M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="4" style="font-weight:bold;">Khác</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_6M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_6M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_6M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_6M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_6M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_612M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_612M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_612M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_612M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_612M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td style="font-weight: bold;"> >12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_12M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_12M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> >12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_12M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_SP_KHAC_12M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_SP_KHAC_12M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>    
    </tr>
    <tr style="background-color: rgb(129, 205, 243); font-weight: bold;">
        <td colspan="2">MSME</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2">Hộ kinh doanh</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_HKD.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE_HKD.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_HKD.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE_HKD.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_HKD.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2">Tổ chức kinh tế</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_TCKT.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE_TCKT.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_TCKT.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_mMSE_TCKT.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_mMSE_TCKT.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>    
    </tr>
    <tr style="background-color: rgb(106, 234, 138); font-weight: bold;">
        <td colspan="2">KHDN</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_6M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_6M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_6M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_6M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_6M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_612M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_612M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_612M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_612M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_612M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> > 12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_12M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_12M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> > 12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_12M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDN_12M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDN_12M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    
    <tr style="background-color: rgb(106, 234, 138); font-weight: bold;">
        <td colspan="2">KHDNL</td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_6M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_6M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> < 6M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_6M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_6M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_6M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_612M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_612M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> 6-12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_612M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_612M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_612M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
    <tr>
        <td colspan="2"></td><td style="font-weight: bold;"> > 12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_12M.Amt=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_12M.Amt).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat*100).toFixed(2)} %` %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat_max == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat_max*100).toFixed(2)} %` %></td>
        <td style="font-weight: bold;"> > 12M  </td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_12M.Amt_bien_do_cong=='') ? '' : Math.round(HDV_PS_MOI_DAILY_KHDNL_12M.Amt_bien_do_cong).toLocaleString("en-US") %></td>
        <td><%= (HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat_bien_do_cong == '') ? '' : `${(HDV_PS_MOI_DAILY_KHDNL_12M.Lai_suat_bien_do_cong*100).toFixed(2)} %` %></td>
    </tr>
</table>