<div class="daily_dashboard_TD_1_2">
    <div class="row row_1">
        <div class="col-6">
            <p><%= title_1 %></p>
        </div>
        <div class="col-6">
            <p><%= title_2 %></p>
        </div>
    </div>
    <div class="row row_2">
        <div class="col-6 row_2_left">
            <p><%= current_1 %></p>
        </div>
        <div class="col-6 row_2_right">
            <p><%= current_2 %></p>
        </div>
    </div>
    <div class="row row_3">
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <p style="padding-left: 5px;">Lũy kế tháng</p>
                </div>
                <div class="col-4">
                    <p style="float: right; padding-right: 5px;"><%= LKT_1%></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8" style="padding:0 ;">
                    <p style="padding-left: 5px;">Lũy kế tháng</p>
                </div>
                <div class="col-4">
                    <p style="float: right; padding-right: 5px;"><%= LKT_2%></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row_4">
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <p style="padding-left: 5px;">Lũy kế năm</p>
                </div>
                <div class="col-4">
                    <p style="float: right; padding-right: 5px;"><%= LKN_1%></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8"style="padding:0 ;">
                    <p style="padding-left: 5px;">Lũy kế năm</p>
                </div>
                <div class="col-4">
                    <p style="float: right; padding-right: 5px;"><%= LKN_2%></p>
                </div>
            </div>
        </div>
    </div>
</div>